# Data Structures & Algorithms in Python

This is a summary notebook of my personal notes, based on the [playlist by Dhaval Patel](https://www.youtube.com/playlist?list=PLeo1K3hjS3uu_n_a__MI_KktGTLYopZ12) on YouTube.

## 1. Array

### Exercise: Array DataStructure

1. Let us say your expense for every month are listed below,

* January - 2200
* February - 2350
* March - 2600
* April - 2130
* May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

In [7]:
# Dictionary to store monthly expenses
expenses = {
    "January": 2200,
    "February": 2350,
    "March": 2600,
    "April": 2130,
    "May": 2190
}

In [8]:
# 1.
print(f"I spent {expenses['February'] - expenses['January']} extra dollars.")

I spent 150 extra dollars.

In [10]:
# 2.
print(f"Total expenses in first quarter: {expenses['January'] + expenses['February'] + expenses['March']}")

Total expenses in first quarter: 7150

In [29]:
# 3.
look_up_value = 2000
months_counter = 0

for key, value in zip(expenses.keys(), expenses.values()):
    if value == look_up_value:
        print(f"Exactly {look_up_value} dollars spent on {key}.")
        months_counter += 1
if months_counter == 0:
    print(f"No month where exactly {look_up_value} dollars were spent.")

No month where exactly 2000 dollars were spent.

In [30]:
# 4.
expenses['June'] = 1980
expenses

{'January': 2200,
 'February': 2350,
 'March': 2600,
 'April': 2130,
 'May': 2190,
 'June': 1980}

In [31]:
# 5.
expenses['April'] -= 200
expenses

{'January': 2200,
 'February': 2350,
 'March': 2600,
 'April': 1930,
 'May': 2190,
 'June': 1980}

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```
Using this find out,
```
    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
```

In [73]:
heros = ['spider man','thor','hulk','iron man','captain america']

In [74]:
# 1.
len(heros)

5

In [75]:
# 2.
heros.append("black panther")
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [76]:
# 3.
heros.remove("black panther")
heros.insert(3, "black panther")
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [77]:
# 4.
# [heros.remove(hero) for hero in ["thor", "hulk"]]
# heros.insert(1, "doctor strange")
# heros

heros[1:3] = ["doctor strange"]
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [78]:
# 5.
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [145]:
max_number = input("Please insert an integer: ")
try:
    int(max_number)
    odds = [n for n in range(int(max_number)) if n % 2 != 0]
    print(f"Odd numbers from 0 to {max_number}: {odds}")
    
except ValueError:
    print(f"Input '{max_number}' is not an integer!")

Please insert an integer: 23
Odd numbers from 0 to 23: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

## 2. Linked List

In [160]:
## Python implementation

# Node class
class Node:
    def __init__(self, data = None, next = None):
        self.data = data
        self.next = next

# Linked list class
class LinkedList:
    def __init__(self):
        self.head = None
    
    # Insert data at the begining
    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node
    
    # Print method
    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return
        
        itr = self.head
        llstr = ''
        
        while itr:
            llstr += str(itr.data) + '-->'
            itr = itr.next
        
        print(llstr)
    
    # Insert data at the end
    def insert_at_end(self, data):
        if self.head is None:
            self.head = Node(data, None) # Inserting element at the ende, hence next=None
            return
        
        itr = self.head
        # Keep iterating until itr.next has no value (end reached)
        while itr.next:
            itr = itr.next
            
        itr.next = Node(data, None)
    
    # Create a new linked list out of a python list
    def insert_values(self, data_list):
        self.head = None # Wiping current values to insert new data_list, hance head=None
        for data in data_list:
            self.insert_at_end(data)
            
    # Counter for linked list length
    def get_length(self):
        count = 0
        itr = self.head
        while itr:
            count += 1
            itr = itr.next
        return count
    
    # Remove an element at given index
    def remove_at(self, index):
        if index < 0 or index >= self.get_length():
            raise Exception("Invalid index")
        
        # Avoiding index = 0 removal
        if index == 0:
            self.head = self.head.next
            return
        
        count = 0
        itr = self.head
        while itr:
            # Stop at previous element
            if count == index - 1:
                itr.next = itr.next.next
                break
                
            itr = itr.next
            count += 1
    
    # Inserting value at index
    def insert_at(self, index, data):
        if index < 0 or index > self.get_length():
            raise Exception("Invalid Index")
            
        if index == 0:
            self.insert_at_begining(data)
            return
        
        count = 0
        itr = self.head
        while itr:
            # Stop at previous element
            if count == index -1:
                node = Node(data, itr.next)
                itr.next = node
                break
            
            itr = itr.next
            count += 1

In [170]:
ll = LinkedList()
ll.insert_at_begining(79)
ll.insert_at_begining(1)
ll.insert_at_end(8329)
ll.print()

1-->79-->8329-->

In [171]:
ll = LinkedList()
ll.insert_values(["banana", "mango", "grapes", "orange"])
ll.insert_at_end(2001)
ll.insert_at_begining(1990)
ll.print()

1990-->banana-->mango-->grapes-->orange-->2001-->

In [172]:
ll.get_length()

6

In [173]:
ll.remove_at(20)

Exception: Invalid index

In [174]:
ll.remove_at(0)
ll.print()

banana-->mango-->grapes-->orange-->2001-->

In [175]:
ll.remove_at(ll.get_length()-1)
ll.print()

banana-->mango-->grapes-->orange-->

In [176]:
ll.insert_at(0, "figs")
ll.print()

figs-->banana-->mango-->grapes-->orange-->

In [178]:
ll.insert_at(2, "passion-fruit")
ll.print()

figs-->banana-->passion-fruit-->mango-->grapes-->orange-->

## Stack

In [179]:
# Python implementation using deque()
from collections import deque

class Stack:
    def __init__(self):
        self.container = deque()
    
    def push(self,val):
        self.container.append(val)
        
    def pop(self):
        return self.container.pop()
    
    def peek(self):
        return  self.container[-1]
    
    def is_empty(self):
        return len(self.container)==0
    
    def size(self):
        return len(self.container)

### Exercise: Hash Table
1. Write a function in python that can reverse a string using stack data structure. Use Stack class from the tutorial.

```
reverse_string("We will conquere COVID-19") should return "91-DIVOC ereuqnoc lliw eW"
```

2. Write a function in python that checks if paranthesis in the string are balanced or not. Possible parantheses are "{}',"()" or "[]". Use Stack class from the tutorial.

```
is_balanced("({a+b})")     --> True
is_balanced("))((a+b}{")   --> False
is_balanced("((a+b))")     --> True
is_balanced("))")          --> False
is_balanced("[a+b]*(x+2y)*{gg+kk}") --> True
```

In [190]:
# 1.
reverse_string = Stack()
for l in "We will conquere COVID-19":
    reverse_string.push(l)
    
reversed_string = ""
while reverse_string.size() > 0:
    reversed_string += reverse_string.pop()

reversed_string

'91-DIVOC ereuqnoc lliw eW'

In [227]:
#2.
def is_balanced(stack):
    assert type(stack) == type(Stack()), f"{stack} is not a Stack instance!"
    
    # Curly brackets, parenthesis and square brackets counters
    cur_counter = 0
    par_counter = 0
    bra_counter = 0
    
    # Messages
    balanced_message = "Input stack is balanced!"
    imbalanced_message = "Input stack is imbalanced!"
    
    while stack.size() > 0:
        current = stack.pop()
        
        # Opening brackets
        if current == "{":
            cur_counter -= 1
        elif current == "(":
            par_counter -= 1
        elif current == "[":
            bra_counter -= 1
        
        # Closing brackets
        elif current == "}":
            cur_counter += 1
        elif current == ")":
            par_counter += 1
        elif current == "]":
            bra_counter += 1
        
        if cur_counter | par_counter | bra_counter < 0:
            return imbalanced_message
        
    if cur_counter + par_counter + bra_counter != 0:
        return imbalanced_message
    else:
        return balanced_message

In [236]:
test_1 = Stack()

for l in "[a+b]*(x+2y)*{gg+kk}":
    test_1.push(l)
    
is_balanced(test_1)

'Input stack is balanced!'